<div class="row">
	<div class="col-md-2">

	</div>
	<div class="col-md-6">
		<div class="d-grid gap-3">
			<mat-card>
				<div class="row">
					
					<div class="orgName">
						<h1><b>{{orgName}}</b></h1>
					</div>
				</div>

			</mat-card>
			<mat-card>
				<div class="row">
					
					<mat-form-field appearance="outline" class="example-full-width">
						<mat-label>Test Name</mat-label>
						<input matInput #testName placeholder="Test Name" type="text">
				    </mat-form-field>
				</div>

			</mat-card>
			<mat-card>
				<div class="body">
					<mat-form-field appearance="outline">
						<mat-label>Upload an Excel File in Given Format</mat-label>
						<ngx-mat-file-input #Image placeholder="Upload an Excel File in Given Format"
							accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
							(change)="onFileChange($event)">
						</ngx-mat-file-input>
						<mat-icon matSuffix>folder</mat-icon>
					</mat-form-field  >
					<div *ngIf="showExError" style="color: red;">Upload Data in the given Format</div>
					<!-- <input mat-input type="file" (change)="onFileChange($event)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" /> -->

					<br>
					<div class="d-grid gap-3" *ngFor="let data of dataString">

						<div class="p-2 bg-light border" *ngIf="data.includedImage=='Yes'">

							<div class="row">
								<div class="col-8">
									<P>
										Upload the image for Question number:{{data.questionNumber}}
									</P>

									<label class="btn btn-default p-0">
										
										<!-- <input type="file"   accept="image/*" /> -->

									</label>
									
									<mat-form-field appearance="outline">
										<mat-label>Image</mat-label>
										<ngx-mat-file-input #Image placeholder="Image"
										(change)="onFileUpdate($event,data.questionNumber)"
										accept="image/*"
										></ngx-mat-file-input>
										<mat-icon matSuffix>folder</mat-icon>
									</mat-form-field >
									<div *ngIf="tempMes==data.questionNumber && sizeError" style="color: red;">Image Size Must be
										less than 10MB</div>
								</div>


							</div>

							<div class="row">

								<div *ngIf="tempProgress==data.questionNumber" class="mb-2">

									<div class="progress">
										<!-- <div
										class="progress-bar progress-bar-info progress-bar-striped"
										role="progressbar"
										attr.aria-valuenow="{{ progressInfos }}"
										aria-valuemin="0"
										aria-valuemax="100"
										[ngStyle]="{ width: progressInfos + '%' }"
									  >
										{{ progressInfos }}%
									  </div> -->
										<br>
										<mat-progress-bar  [mode]="determinate" [value]="progressInfos"
											[bufferValue]="bufferValue"></mat-progress-bar>
									</div>
									
								</div>
								<div *ngIf="tempMes==data.questionNumber && message" style="color: green;" >{{message}}</div>
								<div *ngIf="tempMes==data.questionNumber && errMes" style="color:red;" >{{errMes}}</div>


							</div>



						</div>
					</div>
				</div>
			</mat-card>

		</div>

	</div>
</div>
<br>

<!-- <img *ngIf="img2" [src]='img2'  /> -->
<!-- <input type='file'   (change)='onFileUpdate($event)' />
		<br>
		<img *ngIf="image" [src]='image'  width="100" height="100"/> -->

<br>
<!-- <input type='file'   (change)='onChange($event)' /> -->
<br>
<!-- <img *ngIf="image" [src]='image'  width="100" height="100"/>
		<br>
		<img *ngIf="img2" [src]='img2'  width="100" height="100"/> -->

<!-- <div>
	<button (click)="compressFile()">Upload and compress</button>
	<img *ngIf="imgResultBeforeCompress" [src]="imgResultBeforeCompress" alt="">
	<img *ngIf="imgResultAfterCompress" [src]="imgResultAfterCompress" alt="">
  </div> -->
<!-- (change)="onFileUpdate($event, data.No)" <div *ngFor="let product of products; let i = index">
	
	<img *ngIf="product.imgBase64Data" [src]='product.imgBase64Data' (click) = 'fileInput.click()' width="100" height="100"/>
  </div> -->