<p>
	Start editing to see some magic happen :)
</p>

<input type="file" (change)="onFileChange($event)" />

<br>
<div *ngFor="let data of dataString" >
	
	<div *ngIf="data.subject=='maths'">
		<input type='file' #fileInput (change)="onFileUpdate($event, data.No)" />
		<img *ngIf="image" [src]='image' (click) = 'fileInput.click()' width="100" height="100"/>
		{{data.subject}}
		
	</div>
</div>
<!-- <div *ngFor="let product of products; let i = index">
	
	<img *ngIf="product.imgBase64Data" [src]='product.imgBase64Data' (click) = 'fileInput.click()' width="100" height="100"/>
  </div> -->