<div class="home-container">
  <mat-card>
    <div>
      <h2>Tests</h2>
    </div>
    <div style="display: flex; justify-content: space-around;">
      <div>TEST NAME</div>
      <div>CREATED BY</div>
    </div>
    <div>
      <mat-card *ngFor="let test of testsDetails" class="test-card">
        <div class="test-container">
          <div class="test-name-cost">
            <h4 class="test-name" >{{ test.testName }}</h4>
            <div class="test-cost"><span>Cost: </span>{{ test.cost + ' rupees' }}</div>
          </div>
          <div class="test-creator-purchase-details">
              <h4 class="test-creator">{{ test.creatorName }}</h4>
              <div [ngSwitch]="test.status">
                <div *ngSwitchCase="'new'" class="test-buy-now">
                  <button mat-flat-button color="primary" >BUY TEST</button>
                </div>
                <div *ngSwitchCase="'purchased'" class="test-attend-test">
                  <button mat-flat-button color="primary" >ATTEND TEST</button>
                </div>
                <div *ngSwitchCase="'attended'" class="test-attended">
                    <button mat-flat-button color="primary" >See Result</button>
                    <button mat-flat-button color="primary" >Re-Write Test</button>
                </div>
              </div>
          </div>
        </div>
      </mat-card>
    </div>
  </mat-card>
</div>
