<h1>Test rules</h1>
<h3>Please read the following instructions very carefully:</h3>
<ul>
    <li>1. Each question has 4 options out of which only one is correct.</li>
    <li>2. Each question has 60 seconds to answer.</li>
    <li>3. You have to finish the test in the specified time</li>
    <li>4. Try not to copy or take any sort of help from any sources.</li>
    <li>5. You will be awarded 1 mark for each correct answer.</li>
    <li>6. There is no penalty for the questions that you have not attempted.</li>
    <li>7. There is no penalty for the wrongly answered questions</li>
    <li>8. You can change your answer by clicking on some other option.</li>
    <li>9. A number list of all questions appears at the middle of the screen, you can access the questions in any order within a section or across sections by clicking on the question number given on the number list.</li>
    <li>10. Do not click the button "submit test" before completing the test. A test once submitted cannot be resumed.</li>
    <li>11. In case if you leave the test, you can continue from where you stopped.</li>
    <li>12. I have read all the instructions carefully and have understood them.</li>
</ul>
<button (click) = "continue()" mat-flat-button color="primary" >Continue</button>
<button (click) = "cancel()" mat-flat-button color="warn" >Cancel</button>