
<div>
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-5">
            <h1>Application Name</h1>
        </div>
        
    </div>
    
</div>
<div class="row">
    <div class="col-md-5">

    </div>
    <div class="col-md-5">
        <mat-card>
        <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>

            <div class="row">
              <div class="col-md-5 form-group">
                
                <mat-form-field class="example-full-width">
                  <mat-label>EmailID</mat-label>
                  <input matInput placeholder="EmailID" formControlName="emailId" type="email">
                </mat-form-field>
  
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 form-group">
                
                <mat-form-field class="example-full-width">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Password" formControlName="password" type="password">
                </mat-form-field>
              </div>
            </div>
  
            <div class="button-wrapper">
              <button mat-flat-button color="primary">Submit</button>
            </div>
          </form>
        </mat-card>
    </div>
</div>  